*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
.main{
   background-color: aqua;
    height: 500px;
    width: 500px;
    margin-top: 10%;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.ball{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 50%;
    background-color: red;
    animation: bounce 1s ease-in-out 1s infinite alternate ;
    transform-origin: center;
}
.line{
    height: 5px;
    width: 100%;
    background: #000;
   
  
    top: 51.5%;
    box-shadow:0px 0px 30px rgb(68, 66, 66);

}

@keyframes bounce {
    10%{
        height: 100px;
        width: 100px;
    }
    30%{
        height: 100px;
        width: 80px;

    }
    50%{
        height: 60px;
        width: 80px;
        transform: translateY(100px);
    }
    75%{
        height: 100px;
        width: 85px;
    }
    100%{
        transform: translateY(0px);
        background-color: aqua;
    }
}

