
.footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.social-icons a:hover {
    text-decoration: underline;
}
